<div class="container">
  <div id="main-container">
    <div class="container">
      <div class="checkout-header">
        <div class="row">
          <div class="col-sm-4">
            <h3>Macy's</h3>
          </div>
          <div class="col-sm-8 text-sm-right">
            <ul>
              <li>1.999.444.7258</li>
              <li>Email</li>
              <li>Chat</li>
              <li>Shipping &amp; Returns</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row space-20">
        <div class="col-lg-10">
          <div class="checkout-table-wrapper">
            <div class="table-responsive">
              <% if @order.line_items.empty? %>
                  <div data-hook="empty_cart">
                    <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
                    <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
                  </div>
              <% else %>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Items (1)</th>
                      <th>Quantity</th>
                      <th>Status</th>
                      <th style="width: 100px">Unit Price</th>
                      <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @order.line_items.each do |line_item| %>
                        <tr>
                          <td class="product-details"><a href="#" class="product-link"><%= image_tag 'product-checkout.jpg' %></a>
                            <div class="product-details-inner">
                              <ul>
                                <li><strong>Buffalo David Bitton Men's</strong></li>
                                <li><span class="medium">Pipekent Velvet Platform Oxfords</span></li>
                                <li><span class="color-fade">0400090751282</span></li>
                                <li><strong>Size:</strong> <span class="medium">32x30</span></li>
                                <li><strong>Color:</strong> <span class="medium">BLACK</span></li>
                              </ul><br><br>
                              <p>If you order this item now, you will not be charged until it ships to you. If you wish to change your order once it is placed, please refer to the instructions on your confirmation e-mail.</p>
                            </div>
                          </td>
                          <td class="product-options">
                            <input type="number" value="1" min="1">
                            <ul>
                              <li><a href="#"><i class="icon icon-edit"></i> <span class="u">Edit</span></a></li>
                              <li><a href="#"><i class="icon icon-heart"></i> <span class="u">Save for Later</span></a></li>
                              <li><a href="#"><i class="icon icon-gift"></i> <span class="u">Make this a Gift</span></a></li>
                              <li><a href="#"><i class="icon icon-remove"></i> <span class="u">Remove</span></a></li>
                            </ul>
                          </td>
                          <td class="product-status">Latest<br>Expected<br>Ship Date<br>10/30/2016<br>Item may ship sooner than this date.</td>
                          <td>$149.00</td>
                          <td>$149.00</td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
              <% end %>
            </div>
          </div>
          <div class="checkout-others-wrapper">
            <div class="row">
              <div class="col-md-6">
                <div class="checkout-block">
                  <h5>Promo Code (s)</h5>
                  <div class="form-wrapper">
                    <label for="coupon"><i class="icon icon-question"></i> Enter One Promo Code At A Time.</label>
                    <p class="flexible">
                      <input id="coupon" type="text" class="form-control">
                      <input type="submit" value="Apply" class="button button-primary">
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkout-block">
                  <h5>Promo Code (s)</h5>
                  <div class="row">
                    <div class="col-sm-4">
                      <p>
                        <label for="zip">Zip Code</label>
                        <input id="zip" type="text" class="form-control">
                      </p>
                    </div>
                    <div class="col-sm-8">
                      <p>
                        <label for="shipping"><i class="icon icon-question"></i> Shipping Method</label>
                        <select id="shipping" name="" class="form-control">
                          <option value="">Standard - $0.00 (Est. Delivery N/A )</option>
                          <option value="">Quick Delivery</option>
                        </select>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item-pricing-wrapper">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <td>Item Total:</td>
                        <td>$145.00</td>
                      </tr>
                      <tr>
                        <td>Gift Wrap:</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>Estimated Shipping &amp; Handling:</td>
                        <td>$0.00</td>
                      </tr>
                      <tr>
                        <td>Total Before Tax:</td>
                        <td>$145.00</td>
                      </tr>
                      <tr>
                        <td>Estimated Tax:</td>
                        <td>$0.00</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pricing-bottom">
                    <div class="pricing-bottom-single"><i class="icon icon-question"></i> Estimated Total:</div>
                    <div class="pricing-bottom-single">$145.00</div>
                  </div>
                  <div class="pricing-checkout">
                    <p>Availability & pricing for items in Saks Bag are not guaranteed until checkout is complete.</p><a href="<%= update_cart_path %>", method="put" class="button button-primary" id="checkout-link">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="vertical-slider-wrapper">
            <div class="vertical-slider-header">Customers with Similar Macy's Also viewed</div>
            <div class="vertical-slider">
              <div class="category-product-single"><a href="#"><img src="images/vertical-slider-product.jpg" alt="" class="img-fluid d-inline-block"></a>
                <h6><a href="#">Buffalo David Bitton Men's</a></h6>
                <p>Slim-Straight Fit Six Torpedo</p>
                <p>Stretch Twill Jeans</p>
                <p>$248.00</p>
                <div class="clearfix">
                  <div class="rating-wrapper d-inline-block">
                    <div style="width: 85%" class="rating-inner"></div>
                  </div>(97)
                </div>
              </div>
              <div class="category-product-single"><a href="#"><img src="images/vertical-slider-product.jpg" alt="" class="img-fluid d-inline-block"></a>
                <h6><a href="#">Buffalo David Bitton Men's</a></h6>
                <p>Slim-Straight Fit Six Torpedo</p>
                <p>Stretch Twill Jeans</p>
                <p>$248.00</p>
                <div class="clearfix">
                  <div class="rating-wrapper d-inline-block">
                    <div style="width: 85%" class="rating-inner"></div>
                  </div>(97)
                </div>
              </div>
              <div class="category-product-single"><a href="#"><img src="images/vertical-slider-product.jpg" alt="" class="img-fluid d-inline-block"></a>
                <h6><a href="#">Buffalo David Bitton Men's</a></h6>
                <p>Slim-Straight Fit Six Torpedo</p>
                <p>Stretch Twill Jeans</p>
                <p>$248.00</p>
                <div class="clearfix">
                  <div class="rating-wrapper d-inline-block">
                    <div style="width: 85%" class="rating-inner"></div>
                  </div>(97)
                </div>
              </div>
              <div class="category-product-single"><a href="#"><img src="images/vertical-slider-product.jpg" alt="" class="img-fluid d-inline-block"></a>
                <h6><a href="#">Buffalo David Bitton Men's</a></h6>
                <p>Slim-Straight Fit Six Torpedo</p>
                <p>Stretch Twill Jeans</p>
                <p>$248.00</p>
                <div class="clearfix">
                  <div class="rating-wrapper d-inline-block">
                    <div style="width: 85%" class="rating-inner"></div>
                  </div>(97)
                </div>
              </div>
              <div class="category-product-single"><a href="#"><img src="images/vertical-slider-product.jpg" alt="" class="img-fluid d-inline-block"></a>
                <h6><a href="#">Buffalo David Bitton Men's</a></h6>
                <p>Slim-Straight Fit Six Torpedo</p>
                <p>Stretch Twill Jeans</p>
                <p>$248.00</p>
                <div class="clearfix">
                  <div class="rating-wrapper d-inline-block">
                    <div style="width: 85%" class="rating-inner"></div>
                  </div>(97)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
