<div class="container">
  <div class="checkout-header checkout-menu-block">
    <div class="row flex-items-md-middle">
      <div class="col-lg-8">
        <ul class="checkout-menu">
          <li class="checkout-current">Shipping &amp; Billing</li>
          <li>Payment</li>
          <li>Review &amp; Submit</li>
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right">
        <ul class="mb-20">
          <li>1.999.444.7258</li>
          <li>Email</li>
          <li>Chat</li>
          <li>Shipping &amp; Returns</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h5 class="form-header">Shipping Address</h5>
      <%= form.fields_for :bill_address do |bill_form| %>
          <div class="checkout-form">
            <div class="row space-20">
              <div class="col-md-6 col-lg-3">
                <p>
                  <label for="title"><strong>Title</strong></label>
                  <select id="title" name="" class="form-control">
                    <option value="">Select a title</option>
                    <option value="">Mr.</option>
                    <option value="">Mrs.</option>
                  </select>
                </p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p>
                  <label for="firstName"><strong>First Name</strong> (Required)</label>
                  <%= bill_form.text_field :firstname, :class => 'form-control required' %>
                </p>
              </div>
              <div class="col-md-6 col-lg-1">
                <p>
                  <label for="mi"><strong>MI</strong></label>
                  <input id="mi" type="text" class="form-control">
                </p>
              </div>
              <div class="col-md-6 col-lg-4">
                <p>
                  <label for="lastName"><strong>Last Name</strong> (Required)</label>
                  <%= bill_form.text_field :last_name, :class => 'form-control required' %>
                </p>
              </div>
            </div>
            <div class="row space-20">
              <div class="col-md-8">
                <p>
                  <label for="company"><strong>Company Name</strong></label>
                  <%= bill_form.text_field :company, :class => 'form-control' %>
                </p>
              </div>
            </div>
            <div class="row space-20">
              <div class="col-md-8">
                <p>
                  <label for="address1"><strong>Address Line 1</strong> (Required)</label>
                  <%= bill_form.text_field :address1, :class => 'form-control  required' %>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <label for="address2"><strong>Address Line 2</strong></label>
                  <%= bill_form.text_field :address2, :class => 'form-control' %>
                </p>
              </div>
            </div>
            <div class="row space-20">
              <div class="col-md-4">
                <p>
                  <label for="city"><strong>City</strong> (Required)</label>
                  <%= bill_form.text_field :city, :class => 'form-control required' %>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <label for="state"><strong>State</strong> (Required)</label>
                  <%= bill_form.text_field :state_name, :class => 'form-control required' %>
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <label for="zip"><strong>Zip Code</strong> (Required)</label>
                  <%= bill_form.text_field :zipcode, :class => 'form-control required' %>
                </p>
              </div>
            </div>
            <div class="row space-20">
              <div class="col-md-12">
                <p class="mb-20">
                  <label for="billing">
                    <input id="billing" type="checkbox" checked="">&nbsp; <i class="icon icon-question"></i>
                    Make This My Billing Address
                  </label>
                </p>
              </div>
            </div>
            <h5 class="form-header"><strong>Contact Information</strong></h5>
            <p>Please enter an email address and phone number where we can reach you about your order.</p><br>
            <div class="row space-20">
              <div class="col-md-8">
                <p>
                  <label for="email"><strong>Email Address</strong> (Required)</label>
                  <input id="email" type="email" class="form-control">
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  <label for="phone"><strong>Phone Number</strong> (Required)</label>
                  <input id="phone" type="text" class="form-control">
                </p>
              </div>
            </div><br>
            <hr>
            <div class="text-xs-right">
              <%= submit_tag 'Continue Checkout', :class => 'button button-primary button-large' %>
              <!--<a href="#" class="button button-primary button-large">Continue Checkout</a>-->
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="flexible flex-items-xs-between">
        <h5 class="summary-header">Order Summery (1 Item)</h5>
        <h5 class="summary-header">Subtotal</h5>
      </div>
      <div class="summary-wrapper">
        <div class="product-details clearfix"><a href="#" class="product-link"><img src="images/product-checkout.jpg" alt=""></a>
          <div class="product-details-inner">
            <ul>
              <li><strong>Buffalo David Bitton Men's</strong></li>
              <li><span class="medium">Pipekent Velvet Platform Oxfords</span></li>
              <li><span class="color-fade">0400090751282</span></li>
              <li><strong>Size:</strong> <span class="medium">32x30</span></li>
              <li><strong>Color:</strong> <span class="medium">BLACK</span></li>
            </ul><br>
            <ul class="summary-options">
              <li><a href="#"><i class="icon icon-edit"></i> <span class="u">Edit</span></a></li>
              <li><a href="#"><i class="icon icon-gift"></i> <span class="u">Make this a Gift</span></a></li>
              <li><a href="#"><i class="icon icon-remove"></i> <span class="u">Remove</span></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <hr>
          <p class="medium"><strong>Shipping Method:</strong> Standard (Est. Delivery N/A)</p>
          <ul class="ul-compact-pad">
            <li class="medium">If you order this item now, you will not be charged until it ships to you. If you wish to change your order once it is placed, please refer to the instructions on your confirmation e-mail.</li>
          </ul>
        </div>
      </div>
      <div class="item-pricing-wrapper">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td>Item Total:</td>
              <td>$145.00</td>
            </tr>
            <tr>
              <td>Gift Wrap:</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>Estimated Shipping &amp; Handling:</td>
              <td>FREE</td>
            </tr>
            <tr>
              <td>Promotional Savings</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>Total Before Tax:</td>
              <td>$145.00</td>
            </tr>
            <tr>
              <td>Tax:</td>
              <td>$0.00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pricing-bottom">
          <div class="pricing-bottom-single">Order Total:</div>
          <div class="pricing-bottom-single">$145.00</div>
        </div>
      </div>
    </div>
  </div>
</div>