<div class="container">
  <div class="checkout-header checkout-menu-block">
    <div class="row flex-items-md-middle">
      <div class="col-lg-8">
        <ul class="checkout-menu">
          <li>Shipping &amp; Billing</li>
          <li class="checkout-current">Payment</li>
          <li>Review &amp; Submit</li>
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right">
        <ul class="mb-20">
          <li>1.999.444.7258</li>
          <li>Email</li>
          <li>Chat</li>
          <li>Shipping &amp; Returns</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h5 class="form-header">Payment</h5>
      <div class="checkout-form">
          <div class="row space-20">
            <div class="col-md-6 col-lg-7">
              <p>
                <label for="payment"><strong>Payment Type</strong> (Required)</label>
                <select id="payment" name="" class="form-control">
                  <option value="">Select payment type</option>
                  <option value="">Credit Card</option>
                  <option value="">Paypal</option>
                </select>
              </p>
            </div>
            <%# param_prefix = "payment_source[#{payment_method.id}]" %>
            <div class="col-md-6 col-lg-5">
              <p>
                <label for="ccno"><strong>Credit Card Number</strong> (Required)</label>
                <input id="ccno" type="text" class="form-control">
              </p>
            </div>
          </div>
          <div class="row space-20">
            <div class="col-md-7">
              <p>
                <label for="nameoncard"><strong>Name on Card</strong> (Required)</label>
                <input id="nameoncard" type="text" class="form-control">
              </p>
            </div>
          </div>
          <div class="row space-20">
            <div class="col-lg-5">
              <label for=""><strong>Credit Card Expiration</strong> (Required)</label>
              <div class="row space-20">
                <div class="col-xs-6">
                  <p>
                    <select name="" class="form-control">
                      <option value="">Month</option>
                      <option value="">January</option>
                      <option value="">February</option>
                    </select>
                  </p>
                </div>
                <div class="col-xs-6">
                  <p>
                    <select name="" class="form-control">
                      <option value="">Year</option>
                      <option value="">2017</option>
                      <option value="">2018</option>
                    </select>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label for="securitycode"><strong>Security Code </strong> (Required)</label>
              <div class="row space-20">
                <div class="col-md-3">
                  <p>
                    <input id="securitycode" type="text" class="form-control">
                  </p>
                </div>
              </div>
              <label for=""><i class="icon icon-question"></i> Where is this?</label>
            </div>
          </div>
          <div class="flexible flex-items-xs-between">
            <h5 class="summary-header"><i class="icon icon-question"></i> <strong>Saks Gift Card(s)</strong></h5>
            <h5 class="summary-header"><span class="medium">Check Gift Card Balance</span></h5>
          </div>
          <hr>
          <div class="row space-20">
            <div class="col-md-7">
              <p>
                <label for="cardNumber"><strong>Card Number</strong></label>
                <input id="cardNumber" type="text" class="form-control">
              </p>
            </div>
            <div class="col-md-5">
              <label for="pin"><i class="icon icon-question"></i> <strong>PIN</strong></label>
              <div class="flexible">
                <input id="pin" type="text" class="form-control">
                <input type="submit" value="Apply" class="button button-link">
              </div>
            </div>
          </div><br>
          <h5 class="form-header">Promo Code(s)</h5>
          <h6 class="medium"><strong>FREE SHIPPING,</strong> every day, every order, no code needed.</h6><br>
          <div class="row space-20">
            <div class="col-md-8">
              <label for="promo"><i class="icon icon-question"></i> <strong>Enter One Promo Code At A Time.</strong></label>
              <div class="flexible">
                <input id="promo" type="text" class="form-control">
                <input type="submit" value="Apply" class="button button-link">
              </div>
            </div>
          </div><br>
          <hr>
            <div class=" text-right form-buttons" data-hook="buttons">
              <%= submit_tag 'Continue Checkout', class: 'button button-primary button-large' %>
              <script>Spree.disableSaveOnClick();</script>
            </div>
    </div>
    </div>
    <div class="col-md-5">
      <div class="flexible flex-items-xs-between">
        <h5 class="summary-header">Order Summery (1 Item)</h5>
        <h5 class="summary-header">Subtotal</h5>
      </div>
      <div class="summary-wrapper">
        <div class="product-details clearfix"><a href="#" class="product-link"><img src="images/product-checkout.jpg" alt=""></a>
          <div class="product-details-inner">
            <ul>
              <li><strong>Buffalo David Bitton Men's</strong></li>
              <li><span class="medium">Pipekent Velvet Platform Oxfords</span></li>
              <li><span class="color-fade">0400090751282</span></li>
              <li><strong>Size:</strong> <span class="medium">32x30</span></li>
              <li><strong>Color:</strong> <span class="medium">BLACK</span></li>
            </ul><br>
            <ul class="summary-options">
              <li><a href="#"><i class="icon icon-edit"></i> Edit</a></li>
              <li><a href="#"><i class="icon icon-gift"></i> Make this a Gift</a></li>
              <li><a href="#"><i class="icon icon-remove"></i> Remove</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <hr>
          <p class="medium"><strong>Shipping to:</strong> 19 Windsor Place, Montclair, NJ 07043 &nbsp; <a href="#" class="no-underline"><i class="icon icon-edit"></i>&nbsp; <span class="u">Edit</span></a> <br> <strong>Shipping Method:</strong> Standard (Est. Delivery N/A) &nbsp; <a href="#" class="no-underline"><i class="icon icon-edit"></i>&nbsp; <span class="u">Edit</span></a></p>
          <ul class="ul-compact-pad">
            <li class="medium">If you order this item now, you will not be charged until it ships to you. If you wish to change your order once it is placed, please refer to the instructions on your confirmation e-mail.</li>
          </ul>
        </div>
      </div>
      <div class="item-pricing-wrapper">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td>Item Total:</td>
              <td>$145.00</td>
            </tr>
            <tr>
              <td>Gift Wrap:</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>Estimated Shipping &amp; Handling:</td>
              <td>FREE</td>
            </tr>
            <tr>
              <td>Promotional Savings</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>Total Before Tax:</td>
              <td>$145.00</td>
            </tr>
            <tr>
              <td>Tax:</td>
              <td>$0.00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pricing-bottom">
          <div class="pricing-bottom-single">Order Total:</div>
          <div class="pricing-bottom-single">$145.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
