<div class="container">
  <div id="main-container">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2">
              <div id="product-gallery" class="product-thumb-wrapper">
                <a href="#" data-image="<%= asset_path('pexels-medium-1.jpg') %>" data-zoom-image="<%=  asset_path('pexels-large-1.jpg') %>" class="product-active"><%= image_tag 'pexels-thumb-1.jpg', alt: "", class: "img-fluid" %></a>
                <a href="#" data-image="<%= asset_path('pexels-medium-2.jpg') %>" data-zoom-image="<%= asset_path('pexels-large-2.jpg') %>" class="product-active"><%= image_tag 'pexels-thumb-2.jpg', alt: "", class: "img-fluid"  %></a>
                <a href="#" data-image="<%= asset_path('pexels-medium-1.jpg') %>" data-zoom-image="<%=  asset_path('pexels-large-1.jpg') %>" class="product-active"><%= image_tag 'pexels-thumb-1.jpg', alt: "", class: "img-fluid"  %></a>
                <a href="#" data-image="<%= asset_path('pexels-medium-2.jpg') %>" data-zoom-image="<%= asset_path('pexels-large-2.jpg') %>" class="product-active"><%= image_tag 'pexels-thumb-2.jpg', alt: "", class: "img-fluid"  %></a>
                <a href="#" data-image="<%= asset_path('pexels-medium-1.jpg') %>" data-zoom-image="<%=  asset_path('pexels-large-1.jpg') %>" class="product-active"><%= image_tag 'pexels-thumb-1.jpg', alt: "", class: "img-fluid"  %></a>
              </div>
            </div>
            <div class="col-md-10">
              <div class="product-details-image text-xs-center">
                <img src="<%= asset_path('pexels-medium-1.jpg') %>" data-zoom-image="<%= asset_path('pexels-medium-1.jpg') %>" alt="" id="product-zoom" class="img-fluid d-inline-block">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-details-wrapper">
            <h4 class="medium">Buffalo David Bitton Men's Slim-Straight Fit Six Torpedo Stretch Twill Jeans</h4><br>
            <div class="rating-wrapper d-inline-block vertical-middle">
              <div style="width: 85%" class="rating-inner"></div>
            </div>&nbsp; <a href="#" class="medium">Write a Review</a>
            <p class="small"><a href="#" class="strong">Q &amp; A: Ask a Question</a></p>
            <hr>
            <p class="medium"><strong>Color:</strong> Black</p>
            <div class="flexible flex-items-xs-between">
              <p class="medium">Size:</p>
              <p class="medium">Size Guide</p>
            </div>
            <div class="size-wrapper">
              <div class="row space-10">
                <div class="col-xs-fifth"><a href="#">30x30</a></div>
                <div class="col-xs-fifth"><a href="#" class="size-selected">30x32</a></div>
                <div class="col-xs-fifth"><a href="#">30x34</a></div>
                <div class="col-xs-fifth"><a href="#">30x36</a></div>
                <div class="col-xs-fifth"><a href="#">30x30</a></div>
                <div class="col-xs-fifth"><a href="#">30x32</a></div>
                <div class="col-xs-fifth"><a href="#">30x34</a></div>
                <div class="col-xs-fifth"><a href="#">30x36</a></div>
                <div class="col-xs-fifth"><a href="#">30x34</a></div>
                <div class="col-xs-fifth"><a href="#">30x36</a></div>
                <div class="col-xs-fifth"><a href="#">30x30</a></div>
                <div class="col-xs-fifth"><a href="#">30x32</a></div>
                <div class="col-xs-fifth"><a href="#">30x34</a></div>
                <div class="col-xs-fifth"><a href="#">30x36</a></div>
              </div>
            </div><br>
            <h5 class="main-price">$145.00</h5><br>

            <%= render 'cart_form' %>
            <div class="bag-bottom">
              <p class="medium"><strong>FREE SHIP AT $145.00</strong> Enjoy Free Shipping <br> at $145.00! details</p>
              <p class="medium"><strong>TAKE $15 OFF</strong> $145.00 off select denim. <br> Savings shown at checkout. details</p>
            </div>
            <div class="product-accordion-wrapper">
              <div class="product-accordion-single">
                <div class="product-accordion-header accordion-header-active">
                  <p>Details</p>
                  <div class="header-icon"><i class="icon icon-cross"></i></div>
                </div>
                <div class="product-accordion-details">
                  <p>Bring instant cool to your everyday look with these slim straight-leg jeans from Buffalo David Bitton.</p>
                  <ul>
                    <li>Slim straight fit</li>
                    <li>5-pocket styling</li>
                    <li>30" and 32" inseams</li>
                    <li>Zip and button closure</li>
                    <li>Cotton/spandex</li>
                    <li>Machine washable</li>
                    <li>Imported</li>
                    <li>Web ID: 2713461</li>
                  </ul>
                </div>
              </div>
              <div class="product-accordion-single">
                <div class="product-accordion-header">
                  <p>Shipping &amp; Returns</p>
                  <div class="header-icon"><i class="icon icon-cross"></i></div>
                </div>
                <div class="product-accordion-details">
                  <p>Bring instant cool to your everyday look with these slim straight-leg jeans from Buffalo David Bitton.</p>
                  <ul>
                    <li>Select items are excluded from international shipping. exclusions &amp; details</li>
                    <li>Free shipping applies to domestic leg only, additional shipping fees and duties may apply at checkout.</li>
                    <li>For complete details, read our Shipping and Return policies.</li>
                    <li>Please call customer service for returns.</li>
                  </ul>
                </div>
              </div>
              <div class="product-accordion-single">
                <div class="product-accordion-header">
                  <p>Review</p>
                  <div class="header-icon"><i class="icon icon-cross"></i></div>
                </div>
                <div class="product-accordion-details">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque quis esse error nesciunt! Totam mollitia delectus voluptas iste at!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum architecto quidem nobis ad, dignissimos temporibus.</p>
                </div>
              </div>
              <div class="product-accordion-single">
                <div class="product-accordion-header">
                  <p>Product QA</p>
                  <div class="header-icon"><i class="icon icon-cross"></i></div>
                </div>
                <div class="product-accordion-details">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque quis esse error nesciunt! Totam mollitia delectus voluptas iste at!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum architecto quidem nobis ad, dignissimos temporibus.</p>
                </div>
              </div>
              <div class="product-accordion-single">
                <div class="product-accordion-header">
                  <p>Special Offer</p>
                  <div class="header-icon"><i class="icon icon-cross"></i></div>
                </div>
                <div class="product-accordion-details">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cumque quis esse error nesciunt! Totam mollitia delectus voluptas iste at!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum architecto quidem nobis ad, dignissimos temporibus.</p>
                </div>
              </div>
            </div>
            <div class="product-share">
              <ul>
                <li><a href="#"><i class="icon icon-facebook-grey"></i></a></li>
                <li><a href="#"><i class="icon icon-google-grey"></i></a></li>
                <li><a href="#"><i class="icon icon-pinterest-grey"></i></a></li>
                <li><a href="#"><i class="icon icon-twitter-grey"></i></a></li>
                <li><a href="#"><i class="icon icon-email-grey"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-customer-widget">
        <h4>Customers also loved</h4>
        <div class="row flex-items-xs-center">
          <div class="col-sm-3">
            <div class="product-details-customer-widget-single"><a href="#"><%= image_tag 'vertical-slider-product.jpg', alt: "" %></a><a href="#">
              <h6>Buffalo David Bitton Men's</h6></a>
              <p>Slim-Straight Fit Six Torpedo</p>
              <p>Stretch Twill Jeans</p>
              <p>$248.00</p>
              <div class="clearfix">
                <div class="rating-wrapper d-inline-block">
                  <div style="width: 85%" class="rating-inner"></div>
                </div>&nbsp; (97)
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="product-details-customer-widget-single"><a href="#"><%= image_tag 'vertical-slider-product.jpg', alt: "" %></a><a href="#">
              <h6>Buffalo David Bitton Men's</h6></a>
              <p>Slim-Straight Fit Six Torpedo</p>
              <p>Stretch Twill Jeans</p>
              <p>$248.00</p>
              <div class="clearfix">
                <div class="rating-wrapper d-inline-block">
                  <div style="width: 85%" class="rating-inner"></div>
                </div>&nbsp; (97)
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="product-details-customer-widget-single"><a href="#"><%= image_tag 'vertical-slider-product.jpg', alt: "" %></a><a href="#">
              <h6>Buffalo David Bitton Men's</h6></a>
              <p>Slim-Straight Fit Six Torpedo</p>
              <p>Stretch Twill Jeans</p>
              <p>$248.00</p>
              <div class="clearfix">
                <div class="rating-wrapper d-inline-block">
                  <div style="width: 85%" class="rating-inner"></div>
                </div>&nbsp; (97)
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-review-section">
        <div class="product-review-header">
          <ul class="clearfix">
            <li><a href="#review" class="review-tab-active">Review</a></li>
            <li><a href="#qa">Q &amp; A</a></li>
          </ul>
        </div>
        <div class="product-review-content">
          <div id="review" class="product-review-content-single">
            <p><strong>Tell us what you think.</strong></p>
            <p>Everyone has an opinion. Here's your chance to share yours. Be the first to write a review of this product and help your fellow shoppers pick the best of the best.</p>
            <p>If you wish to comment about product selection, pricing, ordering, delivery or other issues, please contact customer service.</p><br><a href="#" class="button button-primary button-large">Write a review</a>
          </div>
          <div id="qa" class="product-review-content-single">
            <p><strong>Your asked questions will be answered here.</strong></p>
            <p>Everyone has an opinion. Here's your chance to share yours. Be the first to write a review of this product and help your fellow shoppers pick the best of the best.</p>
            <p>If you wish to comment about product selection, pricing, ordering, delivery or other issues, please contact customer service.</p><br><a href="#" class="button button-primary button-large">Ask a Question</a>
          </div>
        </div>
      </div>
  </div>
</div>