<div id="main-container">
  <div class="category-banner-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="category-banner-wrapper"><a href="#"><%= image_tag 'category-banner-small-1.png', alt: "", class: "img-fluid d-inline-block" %></a></div>
        </div>
        <div class="col-md-9">
          <div class="category-main-wrapper">
            <div class="category-breadcrumb"><a href="#">Men’s Apparel</a> &nbsp; > &nbsp; <a href="#">Jeans</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mobile-last">
            <div class="category-sidebar-wrapper">
              <h5>Men's Clothing</h5>
              <ul>
                <li><a href="#">Activewear</a></li>
                <li><a href="#">Big & Tall</a></li>
                <li><a href="#">Blazers & Sport Coats</a></li>
                <li><a href="#">Casual Button-Down Shirts</a></li>
                <li><a href="#">Coats & Jackets</a></li>
                <li><a href="#">Dress Shirts</a></li>
                <li><a href="#">Golf Shop</a></li>
                <li><a href="#">Guys</a></li>
                <li><a href="#">Hoodies & Sweatshirts</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Pajamas, Robes & Slippers</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Polos</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Suits & Suit Separates</a></li>
                <li><a href="#">Sweaters</a></li>
                <li><a href="#">Swimwear</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Tuxedos & Formalwear</a></li>
                <li><a href="#">Underwear</a></li>
                <li><a href="#">Wear to Work</a></li>
              </ul>
              <hr>
              <h5>Men's Shoes</h5>
              <ul>
                <li><a href="#">All Men's Shoes</a></li>
                <li><a href="#">Boat Shoes</a></li>
                <li><a href="#">Boots</a></li>
                <li><a href="#">Dress Shoes</a></li>
                <li><a href="#">Sandals & Flip-Flops</a></li>
                <li><a href="#">Slippers</a></li>
                <li><a href="#">Sneakers & Athletic</a></li>
              </ul>
              <hr>
              <h5>Shoes & Accessories</h5>
              <ul>
                <li><a href="#">Accessories & Wallets</a></li>
                <li><a href="#">Bags & Backpacks</a></li>
                <li><a href="#">Belts & Suspenders</a></li>
                <li><a href="#">Cologne & Grooming</a></li>
                <li><a href="#">Hats, Gloves & Scarves</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Socks</a></li>
                <li><a href="#">Ties & Pocket Squares</a></li>
                <li><a href="#">Watches</a></li>
              </ul>
              <hr>
              <h5>Men's Brands</h5>
              <ul>
                <li><a href="#">Alfani</a></li>
                <li><a href="#">INC International Concepts</a></li>
                <li><a href="#">Sean John</a></li>
                <li><a href="#">adidas</a></li>
                <li><a href="#">7 for All Mankind</a></li>
                <li><a href="#">Armani Exchange</a></li>
                <li><a href="#">Armani Jeans</a></li>
                <li><a href="#">Bar III</a></li>
                <li><a href="#">Buffalo David Bitton</a></li>
                <li><a href="#">Club Room</a></li>
                <li><a href="#">See All Brands</a></li>
              </ul>
              <hr>
              <h5>Activewear</h5>
              <ul>
                <li><a href="#">adidas</a></li>
                <li><a href="#">Fitbit and Tech Gadgets</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Puma</a></li>
                <li><a href="#">Under Armour</a></li>
                <li><a href="#">All Active Brands</a></li>
              </ul>
              <hr>
              <h5>Featured Shops</h5>
              <ul>
                <li><a href="#">Designer Shop</a></li>
                <li><a href="#">Finish Line Athletic Shoes</a></li>
                <li><a href="#">Men's Guide to Style</a></li>
                <li><a href="#">Back to School Uniforms</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Streetwear</a></li>
                <li><a href="#">The Wedding Shop</a></li>
                <li><a href="#">Trending Now</a></li>
                <li><a href="#">Sale & Clearance</a></li>
              </ul>
              <hr>
              <div class="category-banner-wrapper"><a href="#"><%= image_tag 'category-sidebar-banner.jpg', alt: "", class: "img-fluid" %></a></div>
            </div>
          </div>
          <div class="col-lg-9 mobile-first">
            <div class="product-main-container">
              <div class="page-header">
                <h2>Jeans</h2>
              </div>
              <div class="banner-wrapper">
                <div class="fullSliderFirst">
                  <div class="homeSliderFirstSingle"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
                  <div class="homeSliderFirstSingle"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
                  <div class="homeSliderFirstSingle"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
                  <div class="homeSliderFirstSingle"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
                  <div class="homeSliderFirstSingle"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
                </div>
              </div>
              <div class="category-filter-wrapper">
                <h5>Filter by</h5>
                <ul>
                  <li><a href="#">Size Men's</a></li>
                  <li><a href="#">Regular</a></li>
                  <li><a href="#">Big & Tall</a></li>
                  <li><a href="#">Men's Waist & Inseam</a></li>
                  <li><a href="#">Brand</a></li>
                  <li><a href="#">Denim Fit</a></li>
                  <li><a href="#">Trends</a></li>
                  <li><a href="#">Color</a></li>
                  <li><a href="#">Denim Wash</a></li>
                  <li><a href="#">Customers' Top Rated</a></li>
                  <li><a href="#">Price</a></li>
                </ul>
              </div>
              <div class="category-sorting-wrapper">
                <div class="row flex-items-xs-between">
                  <div class="col-sm-4">
                    <p>Sort by
                      <select name="" class="form-control">
                        <option value="">Newest</option>
                        <option value="">Oldest</option>
                        <option value="">Featured</option>
                      </select>
                    </p>
                  </div>
                  <div class="col-sm-8 text-sm-right">
                    <div class="pagination-wrapper">972 Items &nbsp; | &nbsp; View  60 &nbsp; 180 &nbsp; | &nbsp; 1 of 17 &nbsp; | &nbsp;
                      <ul class="pagination-list">
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <%= render partial: 'spree/shared/products' %>
              <div class="category-sorting-wrapper">
                <div class="row flex-items-xs-between">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8 text-sm-right">
                    <div class="pagination-wrapper">972 Items &nbsp; | &nbsp; View  60 &nbsp; 180 &nbsp; | &nbsp; 1 of 17 &nbsp; | &nbsp;
                      <ul class="pagination-list">
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>