<!-- footer start-->
<footer>
  <!-- .footer-promo start-->
  <div class="footer-promo">
    <div class="container">
      <div class="footer-promo-inner">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-promo-single footer-exp flexible"><i class="icon icon-mobile-app"></i>
              <div class="clearfix footer-promo-single-inner">
                <h6 class="text-uppercase">Download macy's app on the <a href="#" class="u">app store</a></h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-promo-single flexible"><i class="icon icon-footer-logo"></i>
              <div class="clearfix footer-promo-single-inner">
                <h5 class="text-uppercase">Start earning <br> Points &amp; More</h5>
                <p class="small">from your first purchase with our Exclusive Rewards Card. <a href="#" class="strong u">Apply Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-promo-single">
              <h6 class="text-uppercase">Sign up for daily emails</h6>
              <div class="subscribe-form">
                <form action="#">
                  <input type="email" placeholder="Enter Email Address" class="subscribe-input">
                  <input type="submit" value="GO" class="subscribe-submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer-promo end-->
  <!-- .footer-main start-->
  <div class="footer-main">
    <div class="container">
      <!-- .footer-header start-->
      <div class="footer-header">
        <h2>We're Dedicated to Our Customers 24/7</h2>
        <ul>
          <li>Customer Service</li>
          <li>1.877.551.7257</li>
          <li>Emaii</li>
          <li>Chat</li>
          <li>Personal Stylist</li>
        </ul>
      </div>
      <!-- .footer-header end-->
      <!-- .footer-widgets start-->
      <div class="footer-widgets">
        <div class="row">
          <div class="col-sm-6 col-fifth">
            <div class="footer-widget-single">
              <h5>Customer Service</h5>
              <ul>
                <li><a href="#">Order tracking</a></li>
                <li><a href="#">Shipping &amp; delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Para ayuda</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-fifth">
            <div class="footer-widget-single">
              <h5>Macy's Credit Card</h5>
              <ul>
                <li><a href="#">pay bill online</a></li>
                <li><a href="#">view credit account</a></li>
                <li><a href="#">apply now &amp; save</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-fifth">
            <div class="footer-widget-single">
              <h5>Our Stores</h5>
              <ul>
                <li><a href="#">Locations &amp; hours</a></li>
                <li><a href="#">Store events</a></li>
                <li><a href="#">Catalogs</a></li>
                <li><a href="#">Tell us what you think</a></li>
                <li><a href="#">Macy's backstage</a></li>
                <li><a href="#">My stylist personal shopping</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-fifth">
            <div class="footer-widget-single">
              <h5>Macy's inc.</h5>
              <ul>
                <li><a href="#">Macy's inc.</a></li>
                <li><a href="#">macysJOBS</a></li>
                <li><a href="#">Press room</a></li>
                <li><a href="#">Investors</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-fifth">
            <div class="footer-widget-single">
              <h5>Stay Connected</h5>
              <ul>
                <li><a href="#">Mobile apps</a></li>
                <li><a href="#">Sign up for email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-widgets end-->
      <!-- .footer-bottom start-->
      <div class="footer-bottom">
        <div class="footer-social">
          <ul>
            <li><a href="#" class="icon icon-instagram"></a></li>
            <li><a href="#" class="icon icon-facebook"></a></li>
            <li><a href="#" class="icon icon-pinterest"></a></li>
            <li><a href="#" class="icon icon-tumbler"></a></li>
            <li><a href="#" class="icon icon-twitter"></a></li>
            <li><a href="#" class="icon icon-vimeo"></a></li>
            <li><a href="#" class="icon icon-youtube"></a></li>
          </ul>
        </div>
        <div class="footer-copy">
          <p>&copy; 2016 macys.com is a registered trademark. All rights reserved.</p>
        </div>
      </div>
      <!-- .footer-bottom end-->
    </div>
  </div>
  <!-- .footer-main end-->
</footer>
<!-- footer end-->
<!-- including jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- including main script-->
<!--<script src="js/scripts.min.js"></script>-->