<header>
  <!-- .header-top start-->
  <div class="header-top text-xs-center text-lg-right">
    <div class="container">
      <ul>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Shipping To</a>&nbsp; <i class="icon icon-flag"></i></li>
            <li id="link-to-cart" data-hook>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            <script>Spree.fetch_cart()</script>
     </li>
        <!--<li><a href="#">My Bag (10)</a></li>-->
      </ul>
    </div>
  </div>
  <!-- .header-top end-->
  <!-- .header-main start-->
  <div class="container">
    <div class="header-main">
      <!-- .header-logo start-->
      <div class="header-logo"><a href="#" class="icon icon-header-logo"></a></div>
      <!-- .header-logo end-->
      <!-- .header-navigation-search start-->
      <div class="header-navigation-search">
        <!-- #navigation start-->
        <div id="navigation">
          <ul>
            <li><a href="#">Home</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Bed &amp; Bath</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Women</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Men</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Juniors</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Kids</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Shoes</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Handbags &amp; Accessories</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Jewelery</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Watches</a>
              <div class="mega-menu-wrapper">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FASHION JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>WATCHES</h5>
                        <ul>
                          <li><a href="#">For him</a></li>
                          <li><a href="#">For her</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mega-menu-column">
                      <div class="mega-menu-single">
                        <h5>New &amp; Popular</h5>
                        <ul>
                          <li><a href="#">Holiday Gifts</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Best Sellers</a></li>
                          <li><a href="#">Bridal</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>ALL JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Earrings</a></li>
                          <li><a href="#">Necklaces</a></li>
                          <li><a href="#">Bracelets</a></li>
                          <li><a href="#">Rings</a></li>
                          <li><a href="#">Brooches</a></li>
                          <li><a href="#">Jewelry Storage</a></li>
                        </ul>
                      </div>
                      <div class="mega-menu-single">
                        <h5>FINE JEWELRY</h5>
                        <ul>
                          <li><a href="#">Shop All</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#" class="no-dropdown">Brands</a></li>
          </ul>
        </div>
        <!-- #navigation end-->
        <div id="mobile-nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Bed &amp; Bath</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Juniors</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Handbags &amp; Accessories</a></li>
            <li><a href="#">Jewelery</a></li>
            <li><a href="#">Watches</a></li>
            <li><a href="#">Brands</a></li>
          </ul>
        </div>
        <!-- .header-navigation start-->
        <div class="header-navigation"><a id="mobile-menu-btn" href="#mobile-menu"><span></span></a>
          <form action="<%= spree.products_path %>">
            <input type="text" name="keywords", value="<%= params[:keywords] %>" placeholder="Search" class="header-search">
            <button type="submit" class="search-submit"><i class="icon icon-search"></i></button>
          </form>
        </div>
        <!-- .header-navigation end-->
      </div>
      <!-- .header-navigation-search end-->
    </div>
  </div>
  <!-- .header-main end-->
</header>