<div class="category-product-listing">
  <div class="row">
    <% @products.each do |product| %>
        <div class="col-sm-6 col-md-4">
          <div class="category-product-single"><a href="<%= spree.product_path(product, taxon_id: @taxon.try(:id))%>"><%= image_tag "category-product.png", alt: "", class: "img-fluid d-inline-block"%></a>
            <h6><a href="#">Buffalo David Bitton Men's</a></h6>
            <p>Slim-Straight Fit Six Torpedo</p>
            <p>Stretch Twill Jeans</p>
            <p>$248.00</p>
            <div class="clearfix">
              <div class="rating-wrapper d-inline-block">
                <div style="width: 85%" class="rating-inner"></div>
              </div>(97)
            </div>
            <ul class="color-choice clearfix">
              <li><a href="#" style="background: #000000"></a></li>
              <li><a href="#" style="background: #61092E"></a></li>
              <li><a href="#" style="background: #F55540"></a></li>
              <li><a href="#" style="background: #073647"></a></li>
              <li><a href="#" style="background: #FFFFFF"></a></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>