<%# content_for :sidebar do %>
    <!--<div data-hook="homepage_sidebar_navigation">-->
      <%#= render :partial => 'spree/shared/taxonomies' %>
    <!--</div>-->
<%# end %>

<!--<div data-hook="homepage_products">-->
  <%# cache(cache_key_for_products) do %>
      <%#= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <%# end %>
<!--</div>-->
<div class="container">
<div id="main-container">
    <div class="banner-wrapper"><%= image_tag 'dress.jpg', alt: "", class: "img-fluid" %></div>
    <div class="banner-wrapper">
      <div class="fullSliderFirst">
        <div class="homeSliderFirstSingle"><%= image_tag 'home-slider.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderFirstSingle"><%= image_tag 'home-slider.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderFirstSingle"><%= image_tag 'home-slider.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderFirstSingle"><%= image_tag 'home-slider.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderFirstSingle"><%= image_tag 'home-slider.jpg', alt: "", class: "img-fluid" %></div>
      </div>
    </div>
    <div class="banner-wrapper"><%= image_tag 'banner-full.jpg', alt: "", class: "img-fluid" %></div>
    <div class="row space-10">
      <div class="col-sm-8">
        <div class="banner-wrapper"><%= image_tag 'two-third.jpg', alt: "", class: "img-fluid" %></div>
      </div>
      <div class="col-sm-4">
        <div class="banner-wrapper"><%= image_tag 'one-third.jpg', alt: "", class: "img-fluid" %></div>
      </div>
    </div>
    <div class="product-showcase-wrapper text-xs-center">
      <h3 class="text-uppercase">Macys.com Best Sellers</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-fifth"><a href="#">
          <div class="product-slider-single"><%= image_tag 'best-seller-slider.jpg', alt: "", class: "img-fluid d-inline-block" %>
            <h6>Style &amp; Co. Leather Jacket</h6>
            <p>Only at Macy's</p>
            <div class="rating-wrapper">
              <div style="width: 90%" class="rating-inner"></div>
            </div>
          </div></a></div>
        <div class="col-xs-6 col-sm-4 col-md-fifth"><a href="#">
          <div class="product-slider-single"><%= image_tag 'best-seller-slider.jpg', alt: "", class: "img-fluid d-inline-block" %>
            <h6>Style &amp; Co. Leather Jacket</h6>
            <p>Only at Macy's</p>
            <div class="rating-wrapper">
              <div style="width: 90%" class="rating-inner"></div>
            </div>
          </div></a></div>
        <div class="col-xs-6 col-sm-4 col-md-fifth"><a href="#">
          <div class="product-slider-single"><%= image_tag 'best-seller-slider.jpg', alt: "", class: "img-fluid d-inline-block" %>
            <h6>Style &amp; Co. Leather Jacket</h6>
            <p>Only at Macy's</p>
            <div class="rating-wrapper">
              <div style="width: 90%" class="rating-inner"></div>
            </div>
          </div></a></div>
        <div class="col-xs-6 col-sm-4 col-md-fifth"><a href="#">
          <div class="product-slider-single"><%= image_tag 'best-seller-slider.jpg', alt: "", class: "img-fluid d-inline-block" %>
            <h6>Style &amp; Co. Leather Jacket</h6>
            <p>Only at Macy's</p>
            <div class="rating-wrapper">
              <div style="width: 90%" class="rating-inner"></div>
            </div>
          </div></a></div>
        <div class="col-xs-6 col-sm-4 col-md-fifth"><a href="#">
          <div class="product-slider-single"><%= image_tag 'best-seller-slider.jpg', alt: "", class: "img-fluid d-inline-block" %>
            <h6>Style &amp; Co. Leather Jacket</h6>
            <p>Only at Macy's</p>
            <div class="rating-wrapper">
              <div style="width: 90%" class="rating-inner"></div>
            </div>
          </div></a></div>
      </div>
    </div>
    <div class="banner-wrapper">
      <div id="homeFullSliderSecond">
        <div class="homeSliderSecondSingle"><%= image_tag 'tech-product.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderSecondSingle"><%= image_tag 'tech-product.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderSecondSingle"><%= image_tag 'tech-product.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderSecondSingle"><%= image_tag 'tech-product.jpg', alt: "", class: "img-fluid" %></div>
        <div class="homeSliderSecondSingle"><%= image_tag 'tech-product.jpg', alt: "", class: "img-fluid" %></div>
      </div>
    </div>
    <div class="banner-wrapper"><%= image_tag 'banner-denim.jpg', alt: "", class: "img-fluid" %></div>
    <div class="product-deals-wrapper text-xs-center">
      <h2>Don't miss more great deals!</h2>
      <p class="small">The season’s trends and brands at a glance</p>
      <div class="row">
        <div class="col-md-4">
          <div class="product-deals-single"><a href="#"><%= image_tag 'deal-1.jpg', alt: "", class: 'img-fluid d-inline-block' %></a></div>
        </div>
        <div class="col-md-4">
          <div class="product-deals-single"><a href="#"><%= image_tag 'deal-2.jpg', alt: "", class: 'img-fluid d-inline-block' %></a></div>
        </div>
        <div class="col-md-4">
          <div class="product-deals-single"><a href="#"><%= image_tag 'deal-3.jpg', alt: "", class: 'img-fluid d-inline-block' %></a></div>
        </div>
      </div>
    </div>

</div>
      </div>

<div class="product-deals-wrapper text-xs-center">
  <h2>#Macy’s style</h2>
  <p class="small">New season, new trends-new ways to WOW you!</p>
  <div class="row space-20 no-row-margin">
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-lg-eighth">
      <div class="product-thumb-single"><%= image_tag 'style-thumb.jpg', alt: "", class: 'img-fluid d-inline-block' %></div>
    </div>
  </div><a href="#" class="text-link u">Explore More</a>
</div>