<div id="main-container">
  <div class="container">
    <div class="row space-20">
      <div class="col-md-6">
        <div class="login-block">
          <h5>Sign In</h5>
          <p>You have previously created an account at saks.com.</p>
          <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
              <div id="password-credentials">
                <p>
                  <%= f.label :email, 'Email Address' %>
                  <%= f.email_field :email, :class => 'login-input', :tabindex => 1, autofocus: true %>
                </p>
                <p>
                  <%= f.label :password, 'Password' %>
                  <%= f.password_field :password, :class => 'login-input', :tabindex => 2 %>
                </p>
              </div>
              <p>
                <a href="#">Forgot Password?</a>
              </p>

              <p class="form-group text-xs-right"><input type="submit" value="SIGN IN" class="button button-primary"></p>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-block">
          <h5>CREATE AN ACCOUNT</h5>
          <ul>
            <li>You have not created an account at saks.com.</li>
            <li>Creating An Account Lets You:</li>
            <li>Save your information to take advantage of a faster checkout process</li>
            <li>Review your order history online</li>
            <li>Track your packages</li>
            <li>Check your SaksFirst rewards</li>
            <li>Write and submit product reviews</li>
          </ul><br>
          <div class="clearfix text-xs-right"><a href="<%= spree.signup_path %>" class="button button-primary">Create An Account</a></div>
        </div>
      </div>
    </div>
    <div class="login-block">
      <h5>ACCESS YOUR ORDER DETAILS</h5>
      <p>Look up your order status and tracking information or Track International Shipments.</p>
      <form action="#">
        <div class="form-group">
          <label for="order">Order Number</label>
          <input id="order" type="text" class="login-input">
        </div>
        <div class="form-group">
          <label for="zip">Billing Zip Code</label>
          <input id="zip" type="text" class="login-input">
        </div><br>
        <div class="form-group">
          <input type="submit" value="ACCESS YOUR ORDER DETAILS" class="button button-primary">
        </div>
      </form>
    </div>
  </div>
</div>